.toggle-feature {
    display: none;
}

body {
    background: #1B3FA4;
    background: -moz-linear-gradient(left, #1B3FA4 0%, #2388CB 50%, #4E1775 100%);
    background: -webkit-linear-gradient(left, #1B3FA4 0%, #2388CB 50%, #4E1775 100%);
    background: linear-gradient(to right, #1B3FA4 0%, #2388CB 50%, #4E1775 100%);
    font-family: 'Quicksand', sans-serif;
    color:black;
}

.jumbotron {
}

div.movie-container {
    background-color: white;
    color: black;
}

.plot-background {
    background-color: grey;
    height:25vh;
    overflow-y: scroll;
}

.genre-background {
    background-color: grey;
}

.edit-button, .delete-button {
    background-color: red;
    border-color: black;
}

