.toggle-feature {
    display: none;
}

body {
    background: #1B3FA4;
    background: -moz-linear-gradient(left, #1B3FA4 0%, #2388CB 50%, #4E1775 100%);
    background: -webkit-linear-gradient(left, #1B3FA4 0%, #2388CB 50%, #4E1775 100%);
    background: linear-gradient(to right, #1B3FA4 0%, #2388CB 50%, #4E1775 100%);
    font-family: 'Quicksand', sans-serif;
    color:black;
}

.jumbotron {
}

div.movie-container {
    background-color: transparent;
    color: white;
    box-shadow: 3px 2px #dedce1;
}

.poster-container {
    box-shadow: 4px 2px #dedce1;
}

.plot-background {
    height:25vh;
    overflow-y: scroll;
}

.genre-background {
}

.edit-button, .delete-button {
    background-color:#6693e1;
    border-color: white;
    color: white;
}

